<mat-dialog-content>
    <h2 style="text-align: center;">ยืนยันข้อมูล</h2>
    <p>ชื่อ: {{data.name}}</p>
    <p>นามสกุล: {{data.lastName}}</p>
    <p>ที่อยู่1: {{data.address1}}</p>
    <p>ที่อยู่2: {{data.address2}}</p>
    <p>เมือง: {{data.city}}</p>
    <p>จังหวัด: {{data.province}}</p>
    <p>รหัสไปรษณี: {{data.postalCode}}</p>
    <p>เบอร์:+66 {{data.phone}}</p>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: end;">
    <button mat-raised-button color="primary" mat-dialog-close>ตกลง</button>
</mat-dialog-actions>